.app {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

label {
  text-align: left;
}

input,
select {
  padding: 15px;
  margin: 10px 0px;
}

select {
  width: 200px;
}

strong {
  margin: 0 10px;
}

button {
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}
